/* =============== Reset css =============== */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
/* =============== GLobal class ===============*/
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.row {
  margin-left: -20px;
  margin-right: -20px;
}
.container-full {
  max-width: 100vw;
}
.gototop {
  transition: bottom 0.3s ease, background 0.1s linear, opacity 0.3s linear;
}
.gototop:hover {
  background: rgb(13, 4, 49) !important;
}
.gototop.show {
  opacity: 1 !important;
  bottom: 30px !important;
  visibility: visible !important;
}

/* =============== Variable ===============*/
:root {
  --primary-color: #ffe012;
  --primary-bg: rgb(250, 250, 250);
  --header-height: 206px;
  --dark-1: #222832;
  /* palette colors */
  --pl-color-1: #f8f8f8;
  --pl-color-2: #f1d6ab;
  --pl-color-3: #e3b04b;
  --pl-color-4: #2b2b28;
}

/* =============== Default styles ===============*/
html {
  font-size: 62.5%;
  font-family: "Readex Pro", sans-serif;
}
body {
  min-height: 100vh;
}
#main {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  color: #333;
}
/* ============== Customize Scroll Bar ==============  */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(230, 230, 230);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, aqua, yellow, violet);
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    rgb(37, 184, 184),
    rgb(192, 192, 59),
    rgb(177, 97, 177)
  );
}
