.header {
  background: var(--primary-bg);
}
.hea_logo-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hea_spacer {
  height: 30px;
}
.hea_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hea_nav-list {
  display: flex;
}
.hea_nav-item {
  border-bottom: 2px solid transparent;
  transition: all 0.2s linear;
  position: relative;
}
.hea_nav-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: var(--primary-color);
  transform: translateX(-50%);
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hea_nav-item.active > .hea_nav-link {
  color: var(--primary-color);
}
.hea_nav-item:not(.active):hover::after {
  width: 100%;
}

.hea_nav-item:hover > .hea_nav-link {
  color: var(--primary-color);
}
.hea_nav-link {
  display: block;
  padding: 18px 30px;
  transition: all 0.2s ease-in;
  color: inherit;
  white-space: nowrap;
}
.header .hea_nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-bg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 100;
}

.artists-section {
  background: var(--primary-bg);
  padding: 110px;
}
.container {
}
.artists-title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 70px;
}
.artists-container {
}
.artists-list {
  display: flex;
}
.artists-item {
  flex: 0 0 25%;
  padding: 0 20px;
}
.artists-item > img {
  border-radius: 5px;
  display: block;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.artists-item > img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.artists-name {
  display: block;
  font-weight: 700;
  color: var(--dark-1);
  font-size: 2.4rem;
  text-align: center;
  margin-top: 15px;
  transition: all 0.2s linear;
}
.artists-name:hover {
  color: var(--pl-color-3);
}
.artists-type {
  text-align: center;
  margin-top: 10px;
  font-size: 1.9rem;
  color: #666;
  margin-bottom: 15px;
}
