body {
    font-size: 12px;
    flex-wrap: wrap;
}
.home {
    color: var(--pl-color-3);
}
.content-container  > p {
    color: var(--pl-color-4);
    font-weight: 500;
}

.thumb {
    background-color: var(--pl-color-1);
    padding: 30px 100px;
}

.spaces {
    padding: 20px auto;
}

.thumb_title > h1 {
    font-size: 55px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.thumb_title > img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 40px auto;
}

.thumb_contents {
    display: flex;
    justify-content: space-between;
}

.thumb_content-col-left {
    margin-right: 35px;
    width: 50%;
    line-height: 1.5;
}

.thumb_content-col-right {
    width: 50%;
    line-height: 1.5;
}

.why_bg-dark {
    background-color: var(--dark-1);
    color: var(--pl-color-1);
    padding: 60px 0;
    margin-bottom: 30px;
}

.why_title {
    padding: 0 55px;
    text-align: center;
}

.why_title > h2 {
    font-weight: 700;
    font-size: 50px;
    margin: 40px 0;
}

.why_reasons {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

.why_reasons-item {
    margin: 35px;
    align-items: center;
}

.reason {
    background-color: var(--dark-1);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.why_reasons-item > hr {
    max-width: 100%;
    width: 180px;
    border-bottom: var(--dark-1);
    border-left: var(--dark-1);
    border-right: var(--dark-1);
    border-top: 1px solid var(--pl-color-1);
    margin: 15px auto;
}

.why_reasons-item > h3 {
    font-size: 26px;
}

.our-mems {
    margin: 10px auto;
}

.our-mems_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .our-mems_card {
    display: none;
} */

.our-mems > h2 {
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.our-mems > p {
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.our-mems_single-card {
    margin: 18px;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--pl-color-1);
    /* #eef1ff */
}

.our-mems_name {
    font-weight: 700;
}

.our-mems_all > div > img {
    margin-bottom: 15px;
}

.our-mems_cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1900px;
    max-height: 1050px;
    width: auto;
    height: auto;
    justify-content: center;
}

.our-mems_single-card > img {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    width: auto;
}

.our-mems_trans {
    text-align: center;
}

.our-mems_dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #20263048;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.our-mems_dotted {
    background-color: var(--dark-1);
}

.sign-up {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-image: url("../../assets/images/BG-paper-pattern.jpg");
    color: var(--pl-color-1);
}

.sign-up > h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.sign-up > p {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.sign-up > h4 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.sign_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.03);
    width: 400px;
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: var(--pl-color-1) solid 1px;
}

.sign_btn-submit {
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgba(255,255,255,0.03);
    border-bottom: var(--pl-color-3) solid 3px;
    color: var(--pl-color-3);
    font-size: 18px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.sign_btn-submit:hover {
    background-color: var(--pl-color-3);
    color: var(--pl-color-1);
}

.sign-form, .sign_email-invalid, .sign_incorrect {
    display: none;
}

.sign_address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sign_social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sign_social-item > a > i {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--pl-color-1);
    margin: 5px;
    color: var(--pl-color-4);
}

.sign_social-item > a > i:hover {
    background-color: var(--pl-color-3);
    color: var(--pl-color-1);
}