.Blog-section {
  padding: 40px 0;
  border-bottom: 1px solid rgb(221, 207, 207);
  background: var(--primary-bg);
}
.home {
  padding: 10px;
}
.home > p {
  color: var(--pl-color-4);
  font-weight: 500;
  font-size: 20px;
}
.home > p > .home {
  color: var(--pl-color-3);
}
.blog-main {
  color: var(--pl-color-3);
}
.Blog-list {
  text-align: left;
  display: block;
}
.Blog-item {
  background: white;
  margin: 40px 40px;
  padding: 70px 70px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2) ;
}
.Blog-img {
  overflow: hidden;
  height: 100%;
}
.Blog-img > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.sub-info {
  list-style-type: none;
  text-align: left;
  padding: 0;
  padding-top: 20px;
  color: #999;
}
.sub-info li {
  display: block;
  margin: 0;
  font-size: 15px;
  padding: 4px;
}
.Blog-name {
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.2s linear;
}
.Blog-name:hover {
  color: var(--pl-color-3);
}
.Blog-des {
  word-spacing: 0.7px;
}
.more {
  color: white;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  margin-top: 30px;
  font-size: 15px;
  cursor: pointer;
  background: var(--pl-color-4);
  font-weight: 700;
  transition: all 0.2s linear;
  border-radius: 2px;
  
}
.more:hover {
  background-color: var(--pl-color-3);
  transform: scale(1.1);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2) ;
}
.change-page {
  list-style-type: none;
  text-align: left;
  padding: 0;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 0;
  margin: 0;
}
.change-page li {
  display: inline-block;
  font-size: 17px;
  padding: 10px;
}
.one {
  color: var(--pl-color-3);
}
.change-p2 {
  cursor: pointer;
  transition: all 0.1s linear;
}
.change-p2:visited {
  color: var(--pl-color-4);
}
.change-p2:hover {
  color: var(--pl-color-3);
}
.next-page:hover {
  color: var(--pl-color-3);
}
.last-page:hover {
  color: var(--pl-color-3);
}
.change-page:active {
  color: var(--pl-color-3);
}
