.page5-container > p {
  color: var(--pl-color-4);
  font-weight: 500;
}
#map {
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
}
.home {
  padding: 10px;
}
.home > p {
  color: var(--pl-color-4);
  font-weight: 500;
  font-size: 20px;
}
.home > p > .home {
  color: var(--pl-color-3);
  font-weight: 500;
}
.contacts-intro {
  background: var(--primary-bg);
  text-align: center;
  padding: 40px 0;
}
.contacts-intro > h2 {
  font-size: 5rem;
  font-weight: 700px;
  color: var(--pl-color-4);
  margin-bottom: 20px;
}
.contacts-intro > p {
  font-weight: 300px;
  font-size: 23px;
  color: #777;
  font-style: italic;
}
#contact {
  background-image: rgb(250, 244, 244) url("") no-repeat center center/cover;
  height: 50vh;
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}
.contact-form-wrapper {
  padding: 60px 0;
  /* height: 580px; */
  width: 100%;
  background-image: url("../../assets/images/ContacIMG/backgroun-form.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4) inset;
}

.contact-form {
  width: 50%;
  padding: 50px 80px;
  background: white;
  border-radius: 12px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--pl-color-4);
  padding-top: 70px;
  overflow: hidden;
}

.contact-form-description {
  margin-top: 20px;
}

.contact-form-input {
  margin-top: 35px;
  border-radius: 2px;
}

.label-contact-input {
  display: block;
  margin-bottom: 5px;
}

.contact-form-input {
  text-align: left;
}

.contact-input {
  width: 100%;
  height: 30px;
  border-bottom: 3px solid var(--pl-color-3);
  font-family: "Readex Pro", san-serif;
}

.form-group:nth-child(3) .contact-input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc !important;
  height: 120px;
}

.form-group + .form-group {
  margin-top: 20px;
}

.btn.btn-dark {
  padding: 14px 22px;
  margin-top: 20px;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s linear;
  cursor: pointer;
  font-family: "Readex Pro", san-serif;
  font-weight: bold;
}

.btn.btn-dark:hover {
  transform: translateY(-2px);
  background-color: var(--pl-color-3);
  color: #fff;
}
