.home {
  padding: 10px;
}
.home > p {
  color: var(--pl-color-4);
  font-weight: 500;
  font-size: 20px;
}
.home > p > .home {
  color: var(--pl-color-3);
}
.gallery-container {
  padding: 40px 0;
  background: var(--primary-bg);
}
.gallery-intro {
  background: var(--primary-bg);
  text-align: center;
  padding-top: 40px;
}
.gallery-intro > h2 {
  font-size: 5rem;
  font-weight: 700px;
  color: var(--pl-color-4);
  margin-bottom: 20px;
}
.gallery-intro > p {
  font-weight: 300px;
  font-size: 23px;
  color: #777;
  font-style: italic;
}
.gallery-list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 480px;
  grid-gap: 20px;
  margin-top: 40px;
}
.gallery-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.gallery-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transform-origin: center center;
  visibility: hidden;
  z-index: 100;
}
.overlay.show {
  visibility: visible;
  transform: scale(1);
}
.overlay.show > img {
  transition: all 0.2s linear;
  z-index: 10;
}
.overlay.show > img:hover {
  cursor: zoom-in;
  filter: brightness(110%);
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}
.overlay > img {
  max-height: 80%;
}
.close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 40px;
  color: #ccc;
  transition: all 0.1s linear;
  cursor: pointer;
}
.close-btn:hover {
  color: rgb(218, 75, 75);
}
.gallery-item:hover > .hover-layer {
  visibility: visible;
  opacity: 1;
}

.hover-layer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.hover-layer > p {
  font-size: 40px;
  color: white;
}
