/* GLOBAL CSS */
h2.main-title {
  margin-bottom: 70px;
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--dark-1);
  text-align: center;
}
/* ============== SECTION 1 ============== */
.introduce-section {
  position: relative;
  padding-bottom: 110px;
  background-color: black;
  background-image: url("../../assets/images/HomePageIMG/Home-section1-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: var(--header-height);
  box-shadow: 0 -200vh rgba(0, 0, 0, 0.7) inset;
  height: 100vh;
  transition: all 0.4s ease-in;
}
.intro_spacer {
  padding-top: 80px;
}
.intro_main {
  padding: 60px 15px 60px 15px;
  background-image: url(../../assets/images/HomePageIMG/Home-decorate.png);

  background-repeat: no-repeat;
  background-position: left top;
  color: white;
}
.intro_greeting {
  margin-left: 80px;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 2;
  animation: slidTtB 1s ease-in;
}

.intro_main-title {
  font-weight: 700;
  font-size: 9rem;
  line-height: 1.1;
  letter-spacing: 4px;
  animation: slideLtR 1s ease-in-out;
}
@keyframes slideLtR {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
}
@keyframes slideBtT {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
}
@keyframes slidTtB {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
.intro_sub-title {
  font-weight: 400;
  font-size: 9rem;
  line-height: 1.1;
  margin-left: 80px;
  animation: fadeIn 1s linear;
}

.intro_description {
  max-width: 500px;
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 0;
  margin-left: 60px;
  margin-top: 20px;
  animation: slideBtT 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header.header--home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
}

.intro_dots {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
  opacity: 0.5;
  margin: 0 14px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.2s linear;
}
.intro-dot.active {
  background: var(--primary-color);
  opacity: 1;
}
.intro-dot:hover {
  opacity: 1;
}
/* ============== SECTION 2 ============== */

.event-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  padding: 110px 0;
}
.event-des-wrapper {
  flex: 0 0 50%;
  padding: 0 15px;
}
.event-des {
  padding: 110px 0;
  background: var(--primary-bg);
  display: flex;
  flex-direction: column;
}
.event-des-layout {
  width: 530px;
  margin: 0 auto;
  padding: 0 15px;
}

.ed-title {
  padding: 0 20px 20px 20px;
  font-size: 4.8rem;
  font-weight: 700;
}
.ed-content {
  display: block;
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 400;
  padding: 0 20px 20px 20px;
}
.ed-button {
  position: relative;
  display: inline-block;
  padding: 24px 40px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 20px;
  cursor: pointer;
  background: #ebebeb;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.3s linear;
  box-shadow: 0 0 var(--primary-color) inset;
  text-transform: uppercase;
}
.ed-button:hover {
  box-shadow: 300px 0 var(--primary-color) inset;
  color: white;
}
.ed-button:hover::after {
  width: 100%;
}
.ed-button:active::after {
  width: 100%;
}
.ed-button:active {
  color: var(--pl-color-2);
}
.event-show {
  display: flex;
  background: var(--dark-1);
  color: white;
  font-weight: 700;
  padding: 50px 0;
  margin-top: 30px;
}
.es-col {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.es-number {
  font-size: 4.8rem;
}
.es-divider {
  width: 50%;
  background: white;
  height: 1px;
  margin: 20px 0;
}
.es-name {
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: 1px;
}
.event-img {
  flex: 0 0 50%;
  padding: 0 15px;
}
.event-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============== SECTION 3 ============== */

.artists-section {
  background: var(--primary-bg);
  padding: 110px;
}

.artists-title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 70px;
}
.artists-list {
  display: flex;
}
.artists-item {
  flex: 0 0 25%;
  padding: 0 20px;
}
.artists-item > img {
  border-radius: 5px;
  display: block;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.artists-item > img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.artists-name {
  display: block;
  font-weight: 700;
  color: var(--dark-1);
  font-size: 2.4rem;
  text-align: center;
  margin-top: 15px;
  transition: all 0.2s linear;
}
.artists-name:hover {
  color: var(--pl-color-3);
}
.artists-type {
  text-align: center;
  margin-top: 10px;
  font-size: 1.9rem;
  color: #666;
  margin-bottom: 15px;
}
/* ============== SECTION 4 ============== */
.exhibitions-section {
  padding: 110px 0;
}
.exhibitions-title {
  text-align: center;
  font-size: 4.8rem;
  color: var(--dark-1);
  margin-bottom: 70px;
  transition: all 1s ease;
}
.exhibitions-container {
  height: 100vh;
  background: black;
  background-image: url("../../assets/images/HomePageIMG/Home-section1-bg2.jpg");
  transition: all 0.6s ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

.exhibitions-container:hover > .exhibitions-gallery-container {
  visibility: visible;
  opacity: 1;
}
.exhibitions-gallery-container {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.exhibitions-gallery-container:hover > .gallery-ct {
  visibility: visible;
  opacity: 1;
}
.exhibitions-gallery {
  display: flex;
  position: relative;
  transition: all 0.4s linear;
  transition: all 0.2s linear;
  opacity: 0.7;
}
.exhibitions-gallery:hover {
  opacity: 1;
}
.gallery-item {
  position: relative;
  width: calc(100% / 7);
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s linear;
  z-index: 1;
  opacity: 0.6;
  filter: brightness(50%);
  border-radius: 4px;
}
.gallery-item:hover {
  z-index: 2;
  opacity: 1;
  filter: brightness(90%);
  transform: translateY(-10px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.gallery-item.active {
  opacity: 1;
  transform: scale(1.1) translateY(-20px);
  filter: brightness(120%);
  z-index: 10;
  box-shadow: 0 20px 40px 10px black;
  border-radius: 5px;
}
.gallery-item > img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.gallery-ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 20;
  cursor: pointer;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}
.gallery-ct > i {
  font-size: 2rem;
  color: white;
}
.gallery-ct.disable {
  cursor: default !important;
  opacity: 0.3 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.gallery-ct-prev {
  left: 0;
}
.gallery-ct-next {
  right: 0;
}
.gallery-ct:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 40px 10px;
}
/* ============== SECTION 5 ============== */
.visit-section {
  padding: 110px 0;
  background: var(--primary-bg);
}
.visit-container {
  display: flex;
}
.visit-item {
  flex-wrap: wrap;
  margin: 0 15px;
  padding-bottom: 20px;
  transition: all 01s ease-in-out;
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.visit-hover-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.visit-hover-layer > i {
  color: white;
  font-size: 5rem;
}
.visit-img {
  overflow: hidden;
  position: relative;
}
.visit-img:hover {
  cursor: pointer;
}
.visit-img:hover > .visit-hover-layer {
  left: 0;
}
.visit-img:hover > img {
  transform: scale(1.1);
  filter: brightness(80%);
}
.visit-img > img {
  width: 100%;
  object-fit: cover;

  transition: all 0.2s linear;
}
.visti-des {
  text-align: center;
  padding: 20px 0;
}
.visit-heading {
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 8px;
}
.visit-heading:hover {
  color: var(--primary-color);
}
.visit-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.visit-overlay > img {
  max-width: 60%;
  height: 80%;
  object-fit: cover;
  transition: 0.2s ease-out;
  transform: scale(0);
}

.visit-overlay > .close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  font-size: 4rem;
  height: 50px;
  color: #ccc;
  transition: all 0.2s linear;
}
.visit-overlay > .close:hover {
  color: rgb(195, 72, 72);
}

/* =============== SECTION 6 ================= */
.artBlog-section {
  padding: 110px 0;
}

.main-title {
}
.artBlog-list {
  display: flex;
}
.artBlog-item {
  flex: 1;
  margin: 0 15px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s linear;
  background: white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-20px);
}
.artBlog-item.show {
  opacity: 1;
  transform: translateY(0);
}
.artBlog-button {
  width: fit-content;
  padding: 8px 30px;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0px;
  color: #666;
  border-radius: 20px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in;
}
.artBlog-button:hover {
  background: var(--primary-color);
  background: linear-gradient(
    to right,
    rgb(5, 235, 235, 0.3),
    rgb(236, 137, 236, 0.4),
    rgb(240, 240, 23, 0.4)
  );
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}
.artBlog-item:hover {
  transform: translateY(-10px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.artBlog-img {
  overflow: hidden;
  height: 50%;
}
.artBlog-body {
  flex: 1;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.artBlog-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.author-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
}
.author-avatar > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-name {
  margin-left: 8px;
}
.time {
  flex: 1;
  margin-right: 4px;
  text-align: right;
}

.artBlog-img > img {
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}

.artBlog-img:hover > img {
  transform: scale(1.1);
  filter: brightness(80%);
}
.artBlog-name {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 2.2rem;
  color: #555;
  margin-bottom: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.artBlog-des {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 20px;
}
.artBlog-btn {
  width: fit-content;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  cursor: pointer;
  padding: 20px 40px;
  background: rgb(237, 238, 230);
  font-size: 2rem;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
  box-shadow: 0px -0px 0 var(--primary-color) inset;
  text-transform: uppercase;
  font-family: inherit;
  color: #333;
}
.artBlog-btn:hover {
  color: white;
  box-shadow: 0px -100px 0 var(--primary-color) inset;
  text-shadow: 0 0 20px white 0 0 50px white;
  transform: scale(1.1);
}
/* =================== SECTION 7 =================== */
.contact-section {
  padding: 110px;
  background-image: url("../../assets/images/HomePageIMG/Home-section7.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4) inset;
}
.container {
}
.contact-container {
  overflow: hidden;
  color: white;
}
.contact-heading {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact-sub-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 60px;
}
.contact-wrapper {
  display: flex;
}
.contact-form {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  color: #333;
  padding: 40px;
}
.contact-form > h3 {
  margin-bottom: 20px;
}
.contact-form > .name,
.contact-form > .email {
  border-bottom: 3px solid var(--primary-color);
  font-size: 18px;
  padding: 8px 0;
  margin-bottom: 20px;
}

.contact-form > .message {
  margin-top: 20px;
  border: 1px solid rgb(221, 217, 217);
  font-size: 18px;
  padding: 10px;
  display: block;
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 4px;
}
.contact-form > .button {
  width: fit-content;
  padding: 14px 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 4px;
  background: rgb(243, 236, 236);
  transition: all 0.4s ease-out;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}
.contact-form > .button:hover {
  border-bottom: 3px solid var(--primary-color);
  background: var(--pl-color-4);
  color: white;
}
.flex-item {
  flex: 0 0 50%;
}
.flex-item.flex-item-form {
  flex: 0 0 60%;
}
.flex-item.flex-item-social {
  flex: 0 0 40%;
}
.flex-item:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-media-wrapper {
  margin: 0 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-title {
  text-align: center;
}
.contact-social-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact-media-item {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: white;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: all 0.2s linear;
  box-shadow: 0 0 0 var(--primary-color) inset;
  overflow: hidden;
}
.contact-media-item:hover {
  box-shadow: 0 -100px 0 var(--primary-color) inset;
  transform: scale(1.1);
}
.contact-media-item:hover > i {
  color: white !important;
}
.contact-media-item > i {
  color: #333;
  font-size: 23px;
}
