.introduce-section {
  background-image: url("../../assets/images/2-home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  padding-bottom: 110px;
  padding-top: var(--header-height);
}

.intro_spacer {
  padding-top: 150px;
}
.intro_main {
  padding: 110px 15px 70px 15px;
  background-image: url(../../assets/images/3-home-decorate.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: left top;
}
.intro_greeting {
  margin-left: 80px;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 2;
}

.intro_main-title {
  font-weight: 700;
  font-size: 9rem;
  line-height: 1.1;
}

.intro_sub-title {
  font-weight: 400;
  font-size: 9rem;
  line-height: 1.1;
  margin-left: 80px;
}

.intro_description {
  max-width: 500px;
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 0;
  margin-left: 60px;
}
.header.header--home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}
